:root {
    --deepPeriwinkle: #9466f2;
    --hoverPeriwinkle: #8142ff;
    --focusPeriwinkle: #a476ff;
    --monetBlue:#98bdcb;
    --hoverBlue: #6dabc1;
    --focusBlue: #97cfe3;
    --icyWhite:#f8f8ff;
    --princessPink:#dd4f91;
    --hoverPink: #ab3d70;
    --focusPink: #e67aac;
    --duskyGray:#6e6e6e;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--duskyGray);
}

.quiz-container {
    background: var(--icyWhite);
    width: 90%;
    max-width: 65%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content:space-between;
}

.score {
    font-weight: 300;
    color: var(--hoverBlue);

}

.time {
    font-weight: 300;
    color: var(--hoverBlue);
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 22px;
    color: var(--princessPink);
    font-weight: 500;
    padding-bottom: 2%;
    text-align: center;
}

.score {
    display: inline-block;
}

.button {
    background: var(--monetBlue);
    color: var(--icyWhite);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--dreamyBlue);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background: var(--hoverBlue);
    color: white;
}

.button:active {
    background-color: var(--focusBlue);
    color: white;
}

#next-button {
    background: var(--princessPink);
    color: white;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
    display: block;
}

#next-button:hover {
    background: var(--hoverPink);
    color: white;
}

#next-button:active {
    background-color: var(--focusPink);
    color: white;
}